# Dependencies
node_modules/

# Build outputs
dist/
build/
/.parcel-cache/
.turbo/
.vite/

# Local env files
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Misc
.cache/
.eslintcache
.nyc_output/
/.pnp/
*.tgz

# Optional: local node binaries
.npm/

